body,
div {
    margin: 10px;
    padding: 10px;
}
body {
    width: calc(min(100vw, 800px));
    margin: 0 auto;
}
#input {
    color: gray;
}
#output {
    color: blue;
    font-weight: bold;
}
.jumbotron span:first-child {
    font-size: larger;
    font-weight: 900;
}
.jumbotron span:last-child {
    font-size: larger;
    font-weight: 900;
    color: red;
    border: 1px solid black;

    padding: 3px;
    margin: 2px;
}
#history div {
    border-radius: 10px;
    background-color: #f0f0f0;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li {
    border-radius: 10px;
    background-color: #d0d0d0;
    padding: 6px;
    margin: 2px;
    list-style: none;
}
